.blog-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
   min-height: 350px;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 16px;
}

.blog-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.blog-card-content {
  flex-grow: 1;
}

.blog-description {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 12px;
}
.blog-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* shows 3 lines max */
  -webkit-box-orient: vertical;
}
.read-more {
  color: #007BFF;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.read-more:hover {
  color: #0056b3;
}
